.container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0.6rem 1.2rem 0.3rem 0.8rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    max-width: fit-content;
    background-color: khaki;
    user-select: none;
}

.delete {
    opacity: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: opacity 0.5s;
}

.delete:hover {
    cursor: pointer;
}

.todo {
    padding-left: 7px;
}

.container:hover .delete {
    opacity: 1;
}

.container:hover {
    cursor: pointer;
}