.container {
    min-width: 300px;
    height: fit-content;
    flex: 1 0 auto;
}

.listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    padding: 0.25rem 0;
    overflow-x: scroll;
    overflow-y: scroll;
}

@media screen and (max-width: 360px) {
    .container {
        min-width: 0;
    }
}